body {
	font-family: helvetica;
}



#main	{
	width: 35%;
	min-width: 340px;
	margin: 50px auto;
	border: 1px solid gray;
	padding: 30px 30px 50px 30px;
	min-height: 250px;
	position: relative;
}


h1 	{
	font-size: 1.5em;
	margin-bottom: 21px;
}

.add_form, .price_form, .quantity_form {
	padding: 10px;
	margin: 0 10px 8px 0;
	float:left;
}

.add_form {
		font-size: 1em;
}

.price_form {
	font-size: 1em;
	width: 30px;
}

.quantity_form {
	font-size: 1em;
	width: 30px;
}
.add_button {
	padding: 10px;
	background: blue;
	color: white;
	width: 26px;
	height: 26px;
	float: left;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
}

.error {
	display: none;
	clear: both;
	color: red;
	font-size: 0.7em;
}

ul {
	clear:both;
}

li {
	padding: 10px 0 10px 15px;
	margin-left: -10px;
}

.li_hover {
	color:gray;
}

li { cursor: pointer; cursor: hand; }

.mark_completed {
	color:gray;
	font-size:.9em;

}

.completed {
	text-decoration: line-through;
	color: gray;
}

.clear_it {
	font-size: 0.8em;
	color: gray;
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer; 
	cursor: hand;
	padding: 15px;
}

.clear_it:hover {
	color: black;
}

.fa-navicon {
	margin-left: -22px;
	margin-right: 10px;
	font-size:.7em;
}

.hamburger {font-size: .8em;}
